* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poor Story', cursive, sans-serif;
}

body {
    background-color: rgb(34, 40, 40);
    width: 1400px;
    margin: 0 auto;
}


header {
    width: 100%;
    margin: 0 auto;
}

h2 {
    color: rgb(142, 56, 246);
    padding: 1em 0;
    font-size: 26px;
}

h3 {
    margin-top: 0.8em;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 18px;
}

.main {
    display: flex;
    gap: 0.5em;

}

img {
    height: 390px;
    width: auto;
    border-radius: 7px;
    margin: 0 auto;
}

iframe {
    margin: 0 auto;
}
.content {
    width: 60%;
    margin: 0 auto;
    box-shadow: 4px 4px 9px rgb(53, 12, 157);
    padding: 1em;
    background-color: honeydew;
    border-radius: 5px;
}

.speed {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 0, 0);
    margin-top: 0.8em;
    font-size: 18px;
}

.shoe {
    color: black;
    text-shadow: 1px 1px 1px rgb(93, 10, 171);
}

.divide {
    color: rgb(84, 10, 107);
}

.distance {

}

footer {
    position: fixed;
    bottom: 0.25em;
}

div {
    display: flex;
    margin: 0 auto;
    gap: 1em;
    width: 1400px;
    justify-content: center;
    align-items: center;
    background: honeydew;
    box-shadow: 4px 4px 9px rgb(53, 12, 157);
    padding: 5px;
    border-radius: 5px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    text-decoration: none;
    color: rgb(61, 6, 134);
}

a:hover {
    color: white;
    text-shadow: 1px 1px 2px black;
}
