* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poor Story', cursive, sans-serif;
}

html {
    margin: 0 auto;
}

body {
    background-color: rgb(117, 188, 170);
    width: 70%;
    margin: 1em auto;
    max-width: 1400px;
}


header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

button {
    width: 70px;
    height: 20px;
}

h2 {
    color: white;
    padding: 1em 0;
    font-size: 30px;
    text-shadow: 2px 2px 5px rgb(199, 62, 244);
}

h3 {
    margin-top: 0.8em;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 18px;
}

.main {
    display: flex;
    gap: 1em;

}

img {
    height: 390px;
    width: auto;
    border-radius: 7px;
    margin: 0 auto;
    outline: 1px solid red;
}

iframe {
    border: 1px solid white;
}

.content {
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
    box-shadow: 4px 4px 9px rgb(53, 12, 157);
    padding: 1em;
    background-color: honeydew;
    border-radius: 5px;
    opacity: 0.75;
}

.speed {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 0, 0);
    margin-top: 0.8em;
    font-size: 18px;
}

.shoe {
    color: rgb(207, 16, 16);
    text-shadow: 1px 1px 1px rgb(238, 68, 247);
}

.divide {
    color: rgb(84, 10, 107);
}

.dark-mode {
    background-color: rgb(32, 40, 38);
    color: white;
}

.dark-content {
    background: black;
}

footer {
    margin: 1em auto;
    width: 100%;
}

div {
    display: flex;
    margin: 0 auto;
    gap: 1em;
    width: 100%;
    max-width: 1400px;
    justify-content: center;
    align-items: center;
    background: honeydew;
    box-shadow: 4px 4px 9px rgb(53, 12, 157);
    padding: 5px;
    border-radius: 5px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    text-decoration: none;
    color: rgb(61, 6, 134);
}

a:hover {
    color: white;
    text-shadow: 1px 1px 2px black;
}



@media all and (max-width: 800px) {
    .main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100vw;
        align-items: center;
        margin: 0 auto;
    }

    .content {
        width: 100vw;
        margin: 1em auto;
    }

    body {
        width: 100%;
        margin: 0 auto;
    }

    iframe {
        margin: 0 auto;
        width: 100vw;
    }

    header {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer {
        margin: 0 auto;
        width: 100vw;
    }

    div {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

    }

}
