* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poor Story', cursive, sans-serif;
}

html {
    background-color: black;
    opacity: 0.9;
}


header {
    width: 800px;
    margin: 0 auto;
}

h2 {
    color: red;
    padding: 1em 0;
}

h3 {
    margin-top: 0.5em;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 15px;
}

.content {
    width: 800px;
    margin: 0 auto;
    box-shadow: 4px 4px 9px rgb(53, 12, 157);
    padding: 1em;
    background-color: honeydew;
}

.speed {
    margin-top: 0.5em;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(184, 8, 8);
}

.shoe {
    color: black;
    text-shadow: 1px 1px 1px rgb(93, 10, 171);
    border: 1px solid purple;
}

.divide {
    color: rgb(84, 10, 107);
}

.distance {
    background-color: rgb(190, 153, 225);
}


footer {
    width: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    opacity: 1;
    position: fixed;
    bottom: 5em;


}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: rgb(223, 238, 14);
}
