* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poor Story', cursive, sans-serif;
}

html {
    background-color: black;
    opacity: 0.85;
}

body {
    width: 700px;
    height: 100%;
    margin: 10em auto;
    box-shadow: 4px 4px 9px rgb(53, 12, 157);
    padding: 1em;
    background-color: honeydew;
}

h3 {
    margin-top: 0.5em;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 15px;
}

.shoe {
    color: rgb(93, 10, 171);
    text-shadow: 1px 1px 2px rgb(93, 10, 171);
}
